  //
// Signup screen based on http://codepen.io/lsgrrd/pen/xvwHn
//
.signup-page {
  .toolbar[mlnavbar] .toolbar-background {
    border-color: transparent;
  }
}
.mlLinks {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
#signupHeading {
  text-align: center;
  margin-top: 10px;
}
#divSignupForm {
  text-align: center;
  height: 250px;
}
#signupHeading ion-icon {
  color: #285264;
  font-size: 200px;
}
#signupForm ion-icon {
  color: #fff;
  font-size: 30px;
}
.signupScreen {
  background-color: #172F39;
}
#signupForm {
  display: inline-block;
  margin: 0;
  width: 330px;
}
#signupForm .text-input {
  padding: 16px;
  border: 0;
  background: rgba(255,255,255,.2);
  display: block;
  margin: 10px;
  width: 250px;
  color: white;
  font-size: 17px;
  height: 50px;
  border-radius: 7px;
}
#signupForm .text-input:focus {
  background: rgba(255,255,255,.95);
  color: #e74c3c;
}
#signupForm button {
  float:right;
  height: 50px;
  width: 60px;
  background: #28a54c;
  color: white;
  margin-top: 10px;
  margin-bottom: 0;
  border-radius: 7px;
  font-size:30px;
}
#signupForm input::-webkit-input-placeholder {
  color: white;
}
#signupForm input:focus::-webkit-input-placeholder {
  color: #e74c3c;
}
.right {
  position: absolute;
  right: 0px;
}
.center {
  margin:auto;
}
#divLinks button {
  padding: 0;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
}