<ion-header>
  <ion-toolbar mlnavbar>
    <ion-buttons start>
      <button (click)="dismiss()" mllightblue>Cancel</button>
    </ion-buttons>
    <ion-title>
      Default Date
    </ion-title>
    <ion-buttons end>
      <button (click)="pickPreference(itemselected)" mllightblue>Save</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="outer-content">
  <ion-item-divider>
    Select default date when entering a new transaction
  </ion-item-divider>
  <ion-list radio-group [(ngModel)]="itemselected" class="reducedbottommargin">
    <ion-item *ngFor="let item of defaultDateOptions">
        <ion-label>{{item.text}}</ion-label>
        <ion-radio [value]="item.value"></ion-radio>
    </ion-item>
  </ion-list>
  <div id="mlhelptext">
    <h *ngIf="itemselected=='none'">When entering a new transaction the date field will be blank!</h>
    <h *ngIf="itemselected=='today'">When entering a new transaction the date field will default to today's date!</h>
    <h *ngIf="itemselected=='last'">When entering a new transaction the date field will default to the last date used!</h>
  </div>
</ion-content>