<ion-toolbar mlnavbar>
  <ion-buttons start>
    <button (click)="dismiss()" mllightblue>Cancel</button>
  </ion-buttons>
  <ion-title>
    Pick Default Date
  </ion-title>
  <ion-buttons end>
    <button (click)="pickPreference(itemselected)" mllightblue>Select</button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="outer-content">
  <ion-list-header>
    Date when entering a new transaction
  </ion-list-header>
  <ion-list radio-group [(ngModel)]="itemselected">
    <ion-item *ngFor="let item of defaultDateOptions">
        <ion-label>{{item.text}}</ion-label>
        <ion-radio [value]="item.value"></ion-radio>
    </ion-item>
  </ion-list>
  <div id="helptext">
    <h *ngIf="itemselected=='none'">When entering a new transaction the date field will be blank!</h>
    <h *ngIf="itemselected=='today'">When entering a new transaction the date field will default to today's date!</h>
    <h *ngIf="itemselected=='last'">When entering a new transaction the date field will default to the last date used!</h>
  </div>
</ion-content>