
page-login {
  //
  // Login screen based on http://codepen.io/lsgrrd/pen/xvwHn
  //
  .header-ios {
    border-style: none;
  }
  .toolbar-background {
    background: transparent;
  }
  #divHeading {
    text-align: center;
    margin-top: 10px;
  }
  #divHeading ion-icon {
    color: #285264;
    font-size: 125px;
  }
  #divLoginForm {
    text-align: center;
    height: 120px;
  }
  .loginScreen {
    background-color: #172F39;
  }
  #loginFormId {
    display: inline-block;
    margin: 0;
    width: 330px;
  }
  #loginFormId ion-input {
    width: 260px;
  }
  #loginFormId .text-input {
    padding-left: 16px;
    border: 0;
    background: rgba(255,255,255,.2);
    display: block;
    margin: 10px;
    width: 250px;
    color: white;
    font-size:17px;
    height: 50px;
    border-radius: 7px;
  }
  #loginFormId .text-input:focus {
    background: rgba(255,255,255,.95);
    color: #e74c3c;
  }
  #loginFormId button {
    float:right;
    height: 110px;
    width: 60px;
    background: #e74c3c;
    color:white;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 7px;
  }
  #loginFormId input::-webkit-input-placeholder {
    color: white;
  }
  #loginFormId input:focus::-webkit-input-placeholder {
    color: #e74c3c;
  }
  #loginFormId ion-icon {
    color: #fff;
    font-size: 30px;
  }
  .right {
    position: absolute;
    right: 0px;
  }
  #divLinks button {
    padding: 0;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    color: #4288A6;
    margin-top: 10px;
  }
  .mlLinks {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }

}