<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="save(account)">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-divider>
      {{ listheader }}
    </ion-item-divider>
    <ion-item class="ml-input">
      <ion-icon name="md-clipboard" item-left></ion-icon>
      <ion-label floating>Account Name</ion-label>
      <ion-input [(ngModel)]="account.accountname" type="text" spellcheck="false" autocapitalize="on"></ion-input>
      <ion-icon name="arrow-forward" item-right color="mliconarrowblue"></ion-icon>
    </ion-item>
    <ion-item class="ml-input">
      <ion-icon name="md-calendar" item-left></ion-icon>
      <ion-label floating>Account Open Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" [(ngModel)]="account.dateopen"></ion-datetime>
      <ion-icon name="arrow-forward" item-right color="mliconarrowblue"></ion-icon>
    </ion-item>
    <ion-item class="ml-input" (click)="pickAccountType()">
      <ion-icon name="md-cash" item-left></ion-icon>
      <div *ngIf="hasData" [ngClass]="{'fade-in': account.mode === 'New'}">
        <p class="ml-label-has-input">
            Account Type
        </p>
        <h2 class="ml-has-input">
            {{ account.accounttype }}
        </h2>
      </div>
      <div *ngIf="!hasData">
        <h2 class="ml-has-no-input">
            Account Type
        </h2>
      </div>
      <ion-icon name="arrow-forward" item-right color="mliconarrowblue"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>