
page-logout {

  .toolbar-background {
      background: #fff;
      border-color: transparent;
    }
    
  .logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
  }

  .logo img {
    max-width: 150px;
  }

} 
