
page-logout {

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }
  #divHeading {
    text-align: center;
    margin-top: 10px;
  }
  #divHeading ion-icon {
    color: #285264;
    font-size: 125px;
  }
  .logoutScreen {
    background-color: #172F39;
  }

} 
