<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
   <ion-toolbar color="mlitemdivider">
    <ion-row class="balancesRow">
      <ion-col class="colBorder">
        <span>Current Balance</span><span><strong>{{ account.balancecurrent }}</strong></span>
      </ion-col>
      <ion-col class="colBorder">
        <span>Today's Balance</span><span><strong>{{ account.balancetoday }}</strong></span>
      </ion-col>
      <ion-col>
        <span>Cleared Balance</span><span><strong>{{ account.balancecleared }}</strong></span>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="outer-content">
  <ion-list [virtualScroll]="transactions" [approxItemHeight]="'75px'" [bufferRatio]="3" [headerFn]="myHeaderFn">
      <ion-item-divider sticky color="light" *virtualHeader="let header">
        {{ header }}
      </ion-item-divider>
      <ion-item-sliding *virtualItem="let transaction">
        <ion-item class="ml-item" [ngClass]="{'ml-no-border': transaction.ionitemclass == '1'}">
          <ion-row class="ml-row">
            <ion-col class="ml-col-1" (click)="edit(transaction)">
              
              <div class="customTransDesc">
                <span>
                  {{ transaction.payee }}
                  <small>
                    <ul>
                      <li><ion-icon name="ios-contact"></ion-icon>{{ transaction.addedby }}</li>
                      <li><ion-icon name="md-attach"></ion-icon>{{ transaction.category }}</li>
                      <li><ion-icon *ngIf="transaction.notes != ''" name="md-paper"></ion-icon></li>
                      <li><ion-icon *ngIf="transaction.isrecurring == true" name="md-sync"></ion-icon></li>
                      <li><ion-icon *ngIf="transaction.isphoto == true" name="ios-camera"></ion-icon></li>
                      <li><ion-icon *ngIf="transaction.istransfer == true" name="md-repeat"></ion-icon></li>
                    </ul>
                  </small>
                </span>
              </div>
            
            </ion-col>
            <ion-col class="ml-col-2" (click)="edit(transaction)">
              
              <div class="customTransAmt  {{ transaction.type }}">
                {{ transaction.amount }}
              </div>
              <br>
              <div class="customRunBal">
                {{ transaction.runningbal }}
              </div>

            </ion-col>
            <ion-col class="ml-col-3">

              <input class="toggleTransactionCleared" type="checkbox" [(ngModel)]="transaction.iscleared" (change)="clearTransaction(transaction)">
              
            </ion-col>
              
          </ion-row>
          
        </ion-item>
        <ion-item-options>
          <button ion-button color="energized" (click)="edit(account)" class="iconpadding">
            <ion-icon name="create"></ion-icon>
            Edit
          </button>
          <button ion-button color="danger" (click)="delete(account)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
  <ion-fab center bottom (click)="newTransaction()">
    <button ion-fab color="mldarkblue"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>
</ion-content>
