
page-transaction-list-virtual {

  .customTransDesc {
    text-align: left;
    font: 22px 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    padding-left: 10px;
    color: #444;
  }
  .customTransDesc span small {
    position: absolute;
    font: 13px -apple-system, "Helvetica Neue", "Roboto", sans-serif;
    top: 32px;
    left: -25px;
    color: #A0A0A0;
    font-weight: normal;
  }
  .customTransDesc span small ul {
    display: block;
    list-style-type: none;
  }
  .customTransDesc span small ul li {
    float: left;
    margin-right: 8px;
    font: 16px 'PT Sans Narrow', sans-serif;
  }
  .customTransDesc span small ul li ion-icon {
    font-size: 14px;
    padding-right: 3px;
  }
  .customTransDesc .fa {
    padding-right: 4px;
  }
  .customTransAmt {
    font: 20px 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    color: #444;
    font-size: 20px;
  }
  .customRunBal {
    font: 18px 'PT Sans Narrow', sans-serif;
    color: #A0A0A0;
    font-weight: bold;
    margin-top: -25px;
  }
  .transactionIsCleared .item-content {
    background-color: #eee;
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
  }
  .ml-item {
    padding: 0;
  }
  .ml-item.item-block ion-label {
    padding: 0;
    margin-right: 0;
  }
  .Expense {
    color: #CE1B31;
  }
  .textBlack {
      color: #000;
  }
  .Income {
      color: #1AAC57;
  }
  .toggleTransactionCleared {
    height: auto;
    margin: auto 0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: transparent;
  }
  .toggleTransactionCleared:after {
    content: '\f00c';
    line-height: 43px;
    font-size: 17px;
    color: #ebebeb;
    text-shadow: 0 -1px 0 #bfbfbf;
      font-family: FontAwesome;
  }
  .toggleTransactionCleared:checked:after {
    color: #00A2E8;
    bottom: 1px;
    position: relative;
  }
  ion-item-divider ion-label {
    text-transform: uppercase;
    color: #6d6d72;
    font-size: 12px;
  }
  .center {
    text-align: center;
  }
  .balancesRow {
    font-weight: bold;
    font: 13px 'PT Sans Narrow', sans-serif;
    text-align: center;
  }
  .balancesRow span {
    display: block;
    font-weight: normal;
    font-size: 15px;
  }
  .colBorder {
    border-right: 1px solid #AED9E3;
  }
  .fab ion-icon {
    font-size: 3.4rem;
    font-weight: bolder;
  }
  .fab {
    width: 65px;
    height: 65px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26)
  }
  .header-md {
    border-width: 0;
  }
  .header-wp {
    border-width: 0;
  }
  .ml-row {
    height: 55px;
  }
  .ml-col-1 {
    background-color: #fff;
  }
  .ml-col-2 {
    max-width: 150px;
    text-align: right;
  }
  .ml-col-3 {
    max-width: 55px;
    padding-left: 15px;
  }
  .ml-clear-col {
    max-width: 45px;
  }
  .item-divider-md {
    border-bottom-width: 0;
  }
  .iconpadding {
    padding-left: 19px;
    padding-right: 19px;
  }
  .list-ios ion-item-options {
    border-bottom-width: 0;
  }
  .item.item-ios .checkbox-ios {
    margin: 8px 16px 8px -5px;
  }
  .item.item-md .checkbox-md {
    margin: 9px 36px 9px -4px;
}

}