/* Using custom fonts */
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700");

/* Styles for toolbar titles */
.toolbar[mlnavbar] .toolbar-title {
  color: #fff;
}

/* Styles for item divider */
ion-item-divider[mlitemdivider] {
  border-top: 0px solid #c8c7cc;
}

/* Slide Animation for form messages */
.cssSlideUpHide {
  height: 0;
}
.cssSlideUpShow {
  transition: .5s linear all;
  height: 40px;
  overflow: hidden;
  background-color: #d9534f;
  text-align: center;
  padding-top: 0;
}
.cssSlideUpShow p {
  color: #fff;
  font-size: 14px;
}

/* Custom chevron icon */
.ml-chevron-right {
  color: #c8c7cc
}

/* Styles for help text  */
#mlhelptext {
  padding: 0 15px 0 15px;
  font-size: 14px;
  color: #909095;
}

/* Custom styles for ion-list showing help text  */
.reducedbottommargin {
  margin: -1px 0 15px 0;
}

/* Force border bottom in ion-list */
.mlbottomborder {
    border-bottom: 2px solid #c8c7cc;
}

/* Styles for MoneyLeash MyInput fields */
/* ------------------------------------ */
.ml-icon-left:before {
  display: block;
  text-align: center;
  padding-top: 10px;
  color: #909090;
  font-size: 30px;
  font-weight: normal;
}
.ml-input ion-icon[item-left], .ml-input ion-icon[item-right] {
  margin-top: 0;
  margin-left: 0;
  margin-right: 5px;
  margin-bottom: 0;
}
.ml-fontawesome-left {
  background-color: #f0f0f0;
  text-align: center;
  height: 58px;
  width: 60px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.ml-input i {
  margin: 0;
  position: fixed;
}
.ml-input i:before {
  font-size: 24px;
  color: #b9b9b9;
  line-height: 57px;
}
.ml-input {
  padding: 0;
}
/*ion-list > .ml-input.item {
  border-bottom: 1px solid #c8c7cc;
}
ion-list > .ml-input.item:last-child {
  border-bottom: 1px solid #c8c7cc;
}*/
.ml-input .item-inner {
  border-bottom: 0;
  margin-left: 7px;
  padding-top: 0;
}

/*ion-list .ml-input {
    border-bottom: 0;
}
ion-list > my-input.item {
  border-top: 1px solid #c8c7cc;
}
ion-list > my-input.item:first-child {
    border-top: 0;
}*/
.ml-input {
  height: 60px;
}
.ml-input .text-input {
  margin-top: 10px;
}
.extramargin {
  margin-top: 6px;
}
ion-label[stacked] {
  margin-top: 10px;
  margin-bottom: -10px;
}
.ml-input-label {
  color: #eaeaea;
}
ion-list > .ml-input.mlnobottomborder.item  {
  border-bottom: 0;
}
.ml-input ion-input {
  margin-left: 60px;
}

/* Styles for icons on Login, Sign up, Forgot Password forms */
#divLoginHeading {
  text-align: center;
  margin-top: 10px;
}
#divLoginHeading ion-icon {
  color: #285264;
  font-size: 125px;
}

/* Custom styles for Toast */
.toast-wrapper {
  background: #172F39;
}
.toast-message {
  color: #31C0E6;
}