/* Styles for MoneyLeash advanced input fields */
.ml-input {
  height: 50px;
  margin: 0;
  padding: 0;
}
.ml-input ion-label {
  padding-left: 68px;
  margin-top: -10px;
}
.ml-input.input-has-focus ion-label[floating], .ml-input.input-has-value ion-label[floating] {
  transform: translate3d(21px, 15px, 0) scale(0.7);
  color: #31C0E6;
}
.ml-icon-left {
  position: absolute;
  margin: 0;
  background-color: #eeeeee;
  height: 49px;
  width: 50px;
}
.ml-input ion-icon[item-left], .ml-input ion-icon[item-right] {
  margin-top: 0;
}
.ml-icon-left:before {
  display: block;
  text-align: center;
  padding-top: 10px;
  color: #909090;
  font-size: 30px;
  font-weight: normal;
}
.ml-icon-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 49px;
  margin: 0;
  padding: 0;
}
.ml-icon-right:before {
  display: block;
  text-align: center;
  padding-top: 10px;
  color: #C8C7CC;
}
.ml-input ion-input {
  padding-left: 68px;
}

/* Styles for back buttons */
.toolbar[mlnavbar] .toolbar-title, .toolbar[mlnavbar] .bar-button-default {
    /*color: #31C0E6;*/
}