<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
   <ion-toolbar color="mlitemdivider">
    <ion-row class="balancesRow">
      <ion-col class="colBorder">
        <span>Cleared Balance</span><span><strong>{{ account.balancecleared }}</strong></span>
      </ion-col>
      <ion-col class="colBorder">
        <span>Current Balance</span><span><strong>{{ account.balancecurrent }}</strong></span>
      </ion-col>
      <ion-col>
        <span>Today's Balance</span><span><strong>{{ account.balancetoday }}</strong></span>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="outer-content">
  <ion-list>
    <ion-item-group *ngFor="let group of groupedTransactions">
      <ion-item-divider sticky>
        {{ group.label }}
      </ion-item-divider>
      <ion-item-sliding *ngFor="let transaction of group.transactions">
        <ion-item class="ml-item">
          <ion-row>
            <ion-col width-50>
              <div class="customTransDesc">
                <span>
                    {{ transaction.payee }}
                    <small>
                      <ul>
                        <li><i class="fa fa-thumb-tack"></i>{{ transaction.category }}</li>
                        <li><i [ngClass]="{'fa fa-file-text-o': transaction.notes.length > 0}"></i></li>
                        <li><i [ngClass]="{'fa fa-repeat': transaction.isrecurring == true }"></i></li>
                        <li><i [ngClass]="{'fa fa-camera': transaction.isphoto == true}"></i></li>
                        <li><i [ngClass]="{'fa fa-exchange': transaction.istransfer == true }"></i></li>
                      </ul>
                  </small>
                </span>
              </div>
            </ion-col>
            <ion-col width-50>
              <div class="customTransAmt  {{ transaction.type }}">
                <span>
                  {{ transaction.amount }}
                  <small>
                    {{ transaction.runningbal }}
                  </small>
                </span>
                <input class="toggleTransactionCleared" type="checkbox" [(ngModel)]="transaction.iscleared" (click)="clearTransaction(transaction)">
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options>
          <button ion-button color="energized" (click)="edit(account)">
            Edit
          </button>
          <button ion-button color="danger" (click)="delete(account)">
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
  <ion-fab center bottom (click)="newTransaction()">
    <button ion-fab color="mllightblue"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>
</ion-content>
