<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Cancel</button>
    </ion-buttons>
    <ion-title>
      Pick Default Date
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="pickPreference(itemselected)">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <ion-item-divider>
    Select default date
  </ion-item-divider>
  <ion-list radio-group [(ngModel)]="itemselected" class="reducedbottommargin">
    <ion-item *ngFor="let item of defaultItems">
        <ion-label>{{item.text}}</ion-label>
        <ion-radio [value]="item.value"></ion-radio>
    </ion-item>
  </ion-list>
  <div padding class="divhelptext">
    <p *ngIf="itemselected=='None'">When entering a new transaction the date field will be blank!</p>
    <p *ngIf="itemselected=='Today'">When entering a new transaction the date field will default to today's date!</p>
    <p *ngIf="itemselected=='Last'">When entering a new transaction the date field will default to the last date used!</p>
  </div>
</ion-content>