<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Accounts</ion-title>
    <ion-buttons end>
      <button ion-button (click)="newAccount()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <ion-list>
    <ion-item-group *ngFor="let group of groupedAccounts">
      <ion-item-divider sticky>
        {{group.acctype}}
      </ion-item-divider>
      <ion-item-sliding *ngFor="let account of group.accounts" #slidingItem>
        <button ion-item (click)="viewtransactions(account)" class="ml-item">
          <ion-row>
            <ion-col width-50>
              <div class="customAccDesc">
                <span>
                    {{ account.accountname }}
                </span>
              </div>
            </ion-col>
            <ion-col width-50>
              <div class="customAccAmt  {{ account.BalanceClass }}">
                <span>
                  <strong>{{ account.balancecleared }}</strong>
                  <small>
                    {{ account.balancetoday }}
                  </small>
                </span>
              </div>
            </ion-col>
          </ion-row>
        </button>
        <ion-item-options>
          <button ion-button color="light" (click)="syncPhotos(account)">
            <i class="fa fa-camera ml-fa"></i>
            fix photo
          </button>
          <button ion-button color="energized" (click)="edit(slidingItem, account)" class="iconpadding">
            <i class="fa fa-pencil ml-fa"></i>
            Edit
          </button>
          <button ion-button color="danger" (click)="delete(slidingItem, account)">
            <i class="fa fa-trash ml-fa"></i>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>