
page-account-list {

  .customAccDesc {
    text-align: left;
    height: 37px;
    font: 20px 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    padding-left: 16px;
    color: #444;
    font-size: 20px;
  }
  .customAccAmt {
    text-align: right;
    height: 37px;
    font: 20px 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    margin-top: -10px;
    margin-right: 15px;
  }
  .customAccAmt span {
    position: relative;
    top: 8px;
  }
  .customAccAmt span small {
    position: absolute;
    font: 14px 'PT Sans Narrow', sans-serif;
    top: 20px;
    right: 0;
    color: #A0A0A0;
    font-weight: bold;
  }
  .ml-item {
    padding: 0;
  }
  .textRed {
    color: #CE1B31;
  }
  .textBlack {
      color: #000;
  }
  .textGreen {
      color: #1AAC57;
  }
  .iconpadding {
    padding-left: 17px;
    padding-right: 17px;
  }

}