<ion-header>
  <ion-navbar>
    <ion-title>
      Select Category
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-group *ngIf="type === 'Income'">
      <ion-item-divider sticky>
        Income Categories
      </ion-item-divider>      
      <button ion-item (click)="selectCategory(incomecat)" *ngFor="let incomecat of incomeCategories" track="income" [ngClass]="{mlindent: incomecat.categoryparent !== ''}">
        {{ incomecat.categoryname }}
      </button>
    </ion-item-group>
    <ion-item-group *ngIf="type === 'Expense'">
      <ion-item-divider sticky>
        Expense Categories
      </ion-item-divider>
      <button ion-item (click)="selectCategory(expensecat)" *ngFor="let expensecat of expenseCategories" track="expense" [ngClass]="{mlindent: expensecat.categoryparent !== ''}">
        {{ expensecat.categoryname }}
      </button>
    </ion-item-group>
  </ion-list>
</ion-content>