
$categories: (
  expense: color($colors, mlred),
  income: color($colors, mlgreen),
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-pickcategory {

  @each $track, $value in auxiliary-categories() {
    button[track=#{$track}] .label{
      border-left: 2px solid $value;
      padding-left: 10px;
    }

    .mlindent {
      padding-left: 35px;
    }
  }

}