/* Styles for MoneyLeash MyInput fields */

.ml-icon-left:before {
  display: block;
  text-align: center;
  padding-top: 10px;
  color: #909090;
  font-size: 30px;
  font-weight: normal;
}
.ml-input ion-icon[item-left], .ml-input ion-icon[item-right] {
  margin-top: 0;
  margin-left: 0;
  margin-right: 5px;
  margin-bottom: 0;
}
.ml-fontawesome-left {
  background-color: #f0f0f0;
  text-align: center;
  height: 60px;
  width: 60px;
}
.ml-input i {
  margin: 0;
}
.ml-input i:before {
  font-size: 24px;
  color: #b9b9b9;
  line-height: 57px;
}
my-input.item {
  padding-left: 0;
}
.ml-input {
  padding: 0;
}
.ml-input .item-inner {
  border-bottom: 0;
  margin-left: 7px;
  padding-top: 3px;
}
ion-list > .ml-input.item {
  border-bottom: 1px solid #c8c7cc;
}
ion-list > .ml-input.item:first-child {
    border-top: 0;
}
ion-list > .ml-input.item:last-child {
  border-bottom: 1px solid #c8c7cc;
}
ion-list .ml-input .item-inner {
    border-bottom: 0;
}
ion-list .ml-input {
    border-bottom: 0;
}
ion-list > my-input.item {
  border-top: 1px solid #c8c7cc;
}
ion-list > my-input.item:first-child {
    border-top: 0;
}
.ml-input {
  height: 60px;
}
.ml-input .text-input {
  margin-top: 13px;
}
.extramargin {
  margin-top: 6px;
}
ion-label[stacked] {
  margin-top: 11px;
  margin-bottom: -10px;
}
.ml-input-label {
  color: #eaeaea;
}
ion-list > .ml-input.mlnobottomborder.item  {
  border-bottom: 0;
}