
// MoneyLeash Custom Styles

// Fonts
// --------------------------------------------------
// http://www.localfont.com/
@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/PT-Sans-Narrow-regular/PT-Sans-Narrow-regular.eot');
  src: url('../assets/fonts/PT-Sans-Narrow-regular/PT-Sans-Narrow-regular.eot?#iefix') format('embedded-opentype'),
       local('PT Sans Narrow'),
       local('PT-Sans-Narrow-regular'),
       url('../assets/fonts/PT-Sans-Narrow-regular/PT-Sans-Narrow-regular.woff2') format('woff2'),
       url('../assets/fonts/PT-Sans-Narrow-regular/PT-Sans-Narrow-regular.woff') format('woff'),
       url('../assets/fonts/PT-Sans-Narrow-regular/PT-Sans-Narrow-regular.ttf') format('truetype'),
       url('../assets/fonts/PT-Sans-Narrow-regular/PT-Sans-Narrow-regular.svg#PTSansNarrow') format('svg');
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/PT-Sans-Narrow-700/PT-Sans-Narrow-700.eot');
  src: url('../assets/fonts/PT-Sans-Narrow-700/PT-Sans-Narrow-700.eot?#iefix') format('embedded-opentype'),
       local('PT Sans Narrow Bold'),
       local('PT-Sans-Narrow-700'),
       url('../assets/fonts/PT-Sans-Narrow-700/PT-Sans-Narrow-700.woff2') format('woff2'),
       url('../assets/fonts/PT-Sans-Narrow-700/PT-Sans-Narrow-700.woff') format('woff'),
       url('../assets/fonts/PT-Sans-Narrow-700/PT-Sans-Narrow-700.ttf') format('truetype'),
       url('../assets/fonts/PT-Sans-Narrow-700/PT-Sans-Narrow-700.svg#PTSansNarrow') format('svg');
}

// Font base family
// --------------------------------------------------
//$font-family-md-base: "PT Sans";
//$font-family-ios-base: "PT Sans";
//$font-family-wp-base: "PT Sans";


// Toolbar custom styles
// --------------------------------------------------
$toolbar-background:          #172F39;
$toolbar-ios-button-color:    #31C0E6;
$toolbar-md-button-color:     #31C0E6;
$toolbar-wp-button-color:     #31C0E6;
$toolbar-ios-title-text-color: #fff;
$toolbar-md-title-text-color:  #fff;
$toolbar-wp-title-text-color:  #fff;
/*
$toolbar-ios-title-font-size:   2rem;
$toolbar-md-title-font-size:    2rem;
$toolbar-wp-title-font-size:    2rem;

.toolbar-title-ios {
  font-family: 'PT Sans Narrow'
}
.toolbar-title-md {
  font-family: 'PT Sans Narrow'
}
.toolbar-title-wp {
  font-family: 'PT Sans Narrow'
}
*/

// ion-item-divider
// --------------------------------------------------
//$item-ios-divider-background: #D3EAF0;

// Alert custom text color
// --------------------------------------------------
.alertDanger .button-inner{
  color: red;
  button{
    color: red;
  }
}

// Menu custom styles
// --------------------------------------------------
.item .mlmenuicon {
  font-size: 32px;
}
.mlmenuitem {
  font-family: 'PT Sans Narrow';
  font-size: 20px;
}