// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:      #387ef5,
  secondary:    #32db64,
  danger:       #ef473a,
  light:        #f4f4f4,
  dark:         #222,
  favorite:     #69BB7B,
  energized:    #f57d00,
  twitter:      #53ACEB,
  github:       #000000,
  instagram:    #235D8D,
  mllightblue:  #31C0E6,
  mldarkblue:   #00A2E8,
  mlgreen:      #28a54c,
  mlred:        #CE1B31,
  mlpurple:     #4B0082,
  mlnavbar:     (base: #172F39,contrast: #31C0E6),
  mlitemdivider:#D3EAF0,
  mliconarrowblue:#31C0E6
);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

/*@import "ionic.theme.default";*/
/*@import "ionic.theme.dark";*/
@import "moneyleash.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";


// MoneyLeash
// --------------------------------------------------
// Custom styles for app
// http://

@import "ml.scss";