<ion-menu [content]="content">
  
  <ion-header>
    <ion-toolbar color="mlgreen">
      <ion-title>MoneyLeash</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content">
    <ion-list>
      <ion-list-header>
        Navigate
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon" [ngStyle]="{'color':p.color}"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <ion-list>
      <ion-list-header>
        Account
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of logoutpages" (click)="logout()">
        <ion-icon item-left [name]="p.icon" [ngStyle]="{'color':p.color}"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>