<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="save(transaction)">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <ion-list>
    <ion-item-divider>
      Transaction Details
    </ion-item-divider>
    <div [ngClass]="{'cssSlideUp': showValidationMessage, 'ng-hide': !showValidationMessage}">
      <span style="line-height:40px;">{{ validationMessage }}</span>
    </div>
    <ion-item class="ml-input" (click)="pickTransactionType()">
      <ion-icon name="md-filing" item-left></ion-icon>
      <div *ngIf="hasDataTransactionType">
        <p class="ml-label-has-input">Transaction Type</p>
        <h2 class="ml-has-input">{{ transaction.type }}</h2>
      </div>
      <div *ngIf="!hasDataTransactionType">
        <h2 class="ml-has-no-input">Transaction Type</h2>
      </div>
      <ion-icon name="arrow-forward" item-right color="mliconarrowblue"></ion-icon>
    </ion-item>
    <ion-item class="ml-input" (click)="pickPayee()">
      <ion-icon name="md-contact" item-left></ion-icon>
      <div *ngIf="hasDataPayee">
        <p class="ml-label-has-input">Payee</p>
        <h2 class="ml-has-input">{{ transaction.payee }}</h2>
      </div>
      <div *ngIf="!hasDataPayee">
        <h2 class="ml-has-no-input">Payee</h2>
      </div>
      <ion-icon name="arrow-forward" item-right color="mliconarrowblue"></ion-icon>
    </ion-item>
    <ion-item class="ml-input" (click)="pickCategory()">
      <ion-icon name="md-attach" item-left></ion-icon>
      <div *ngIf="hasDataCategory">
        <p class="ml-label-has-input">Category</p>
        <h2 class="ml-has-input">{{ transaction.category }}</h2>
      </div>
      <div *ngIf="!hasDataCategory">
        <h2 class="ml-has-no-input">Category</h2>
      </div>
      <ion-icon name="arrow-forward" item-right color="mliconarrowblue"></ion-icon>
    </ion-item>
    <ion-item class="ml-input" (click)="pickAmount()">
      <ion-icon name="md-cash" item-left></ion-icon>
      <div *ngIf="hasDataAmount">
        <p class="ml-label-has-input">Amount</p>
        <h2 class="ml-has-input">{{ transaction.amount }}</h2>
      </div>
      <div *ngIf="!hasDataAmount">
        <h2 class="ml-has-no-input">Amount</h2>
      </div>
      <ion-icon name="arrow-forward" item-right color="mliconarrowblue"></ion-icon>
    </ion-item>
    <ion-item class="ml-input">
      <ion-icon name="md-calendar" item-left></ion-icon>
      <ion-label floating>Transaction Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" [(ngModel)]="transaction.date"></ion-datetime>
      <ion-icon name="arrow-forward" item-right color="mliconarrowblue"></ion-icon>
    </ion-item>
    <ion-item class="ml-input" (click)="pickNotes()">
      <ion-icon name="md-paper" item-left></ion-icon>
      <div *ngIf="hasDataNotes">
        <p class="ml-label-has-input">Notes</p>
        <h2 class="ml-has-input">{{ transaction.notes }}</h2>
      </div>
      <div *ngIf="!hasDataNotes">
        <h2 class="ml-has-no-input">Notes</h2>
      </div>
      <ion-icon name="arrow-forward" item-right color="mliconarrowblue"></ion-icon>
    </ion-item>
    <ion-item class="ml-input" (click)="pickPhoto()">
      <ion-icon name="md-camera" item-left></ion-icon>
      <div *ngIf="hasDataPhoto">
        <p class="ml-label-has-input">Photo</p>
        <h2 class="ml-has-input">{{ transaction.photo }}</h2>
      </div>
      <div *ngIf="!hasDataPhoto">
        <h2 class="ml-has-no-input">Photo</h2>
      </div>
      <ion-icon name="arrow-forward" item-right color="mliconarrowblue"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>