<ion-header>
  <ion-toolbar mlnavbar>
    <ion-buttons start>
      <button (click)="dismiss()" mllightblue>Cancel</button>
    </ion-buttons>
    <ion-title>
      Pick Default Balance
    </ion-title>
    <ion-buttons end>
      <button (click)="pickPreference(itemselected)" mllightblue>Select</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="outer-content">
  <ion-item-divider>
    Default balance to display 
  </ion-item-divider>
  <ion-list radio-group [(ngModel)]="itemselected" class="reducedbottommargin">
    <ion-item *ngFor="let item of defaultBalanceOptions">
        <ion-label>{{item.text}}</ion-label>
        <ion-radio [value]="item.value"></ion-radio>
    </ion-item>
  </ion-list>
  <div id="mlhelptext">
    <h *ngIf="itemselected=='current'">The current balance will be shown in the Accounts Summary screen</h>
    <h *ngIf="itemselected=='clear'">The cleared balance will be shown in the Accounts Summary screen</h>
    <h *ngIf="itemselected=='today'">Today's balance will be shown in the Accounts Summary screen</h>
  </div>
</ion-content>