//
// Login screen based on http://codepen.io/lsgrrd/pen/xvwHn
//
.forgot-password-page {
  .toolbar[mlnavbar] .toolbar-background {
    border-color: transparent;
  }
}
.mlLinks {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
#divForgotPasswordHeading {
  text-align: center;
  margin-top: 10px;
}
#divForgotPasswordForm {
  text-align: center;
}
#divForgotPasswordHeading h1 {
  color: #fff;
  font: 33px 'PT Sans Narrow';
  margin-top: 0;
}
#divForgotPasswordHeading ion-icon {
  color: #285264;
  font-size: 150px;
}
#forgotpasswordForm ion-icon {
  color: #fff;
  font-size: 35px;
}
.forgotPasswordScreen {
  background-color: #172F39;
}
#forgotpasswordForm {
  display: inline-block;
  margin: 0;
  width: 330px;
}
#forgotpasswordForm .text-input {
  padding: 16px;
  border: 0;
  background: rgba(255,255,255,.2);
  display: block;
  margin: 10px;
  width: 250px;
  color:white;
  font-size:17px;
  height: 50px;
  border-radius: 7px;
}
#forgotpasswordForm .text-input:focus {
  outline-color: rgba(0,0,0,0);
  background: rgba(255,255,255,.95);
  color: #e74c3c;
}
#forgotpasswordForm button {
  float:right;
  height: 50px;
  width: 60px;
  background: #ff6600;
  color:white;
  margin-top: 10px;
  margin-bottom: 0;
  border-radius: 7px;
}
#forgotpasswordForm input::-webkit-input-placeholder {
  color: white;
}
#forgotpasswordForm input:focus::-webkit-input-placeholder {
  color: #e74c3c;
}
.right {
  position: absolute;
  right: 0px;
}
.center {
  margin:auto;
}
#divLinks button {
  padding: 0;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
}