<ion-header>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button (click)="startApp()" mllightblue>Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-bounce>
  <ion-slides [options]="{pager: true}" (ionWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <div class="divImage">
        <i class="{{slide.icon}} {{slide.color}}"></i>
      </div>
      <div class="divText">
        <h2 class="{{slide.class}}" [innerHTML]="slide.title"></h2>
        <p [innerHTML]="slide.description"></p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="divImage readyMargin">
        <i class="fa fa-thumbs-o-up introOrange"></i>
      </div>
      <h2 class="slide-title">Ready to Begin?</h2>
      <button large clear (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>