<ion-header>
  <ion-navbar [color]="navbarcolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categories</ion-title>
    <ion-buttons end>
      <button ion-button (click)="newCategory()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <ion-list>
      <ion-item-divider sticky>
        Income Categories
      </ion-item-divider>
      <ion-item-sliding *ngFor="let incomecat of incomeCategories | async" #slidingItem>
        <ion-item (click)="edit(slidingItem, incomecat)" class="ml-item" [ngClass]="{mlindent: incomecat.categoryparent !== ''}">
          <ion-icon name="md-attach" class="circleIconGreen"></ion-icon>
          {{ incomecat.categoryname }}
          <ion-icon name="arrow-forward" item-right color="mliconarrowblue"></ion-icon>
        </ion-item>
        <ion-item-options>
          <button ion-button color="energized" (click)="edit(slidingItem, incomecat)">
            Edit
          </button>
          <button ion-button color="danger" (click)="delete(slidingItem, incomecat)">
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-divider sticky>
        Expense Categories
      </ion-item-divider>
      <ion-item-sliding *ngFor="let expensecat of expenseCategories | async" #slidingItem>
        <ion-item (click)="edit(slidingItem, expensecat)" class="ml-item" [ngClass]="{mlindent: expensecat.categoryparent !== ''}">
          <ion-icon name="md-attach" class="circleIconRed"></ion-icon>
          {{ expensecat.categoryname }}
          <ion-icon name="arrow-forward" item-right color="mliconarrowblue"></ion-icon>
        </ion-item>
        <ion-item-options>
          <button ion-button color="energized" (click)="edit(slidingItem, expensecat)">
            Edit
          </button>
          <button ion-button color="danger" (click)="delete(slidingItem, expensecat)">
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-content>