<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categories</ion-title>
    <ion-buttons end>
      <button ion-button (click)="addItem()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider sticky>
        Income Categories
      </ion-item-divider>      
      <ion-item-sliding *ngFor="let incomecat of incomeCategories" #slidingItem track="income" [ngClass]="{mlindent: incomecat.categoryparent !== ''}">
        <button ion-item (click)="viewItemDetails(slidingItem, incomecat)">
          {{ incomecat.categoryname }}
        </button>
        <ion-item-options>
          <button ion-button color="energized" (click)="editItem(slidingItem, incomecat)" padding-horizontal>
            Edit
          </button>
          <button ion-button color="danger" (click)="deleteItem(slidingItem, incomecat)">
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider sticky>
        Expense Categories
      </ion-item-divider>
      <ion-item-sliding *ngFor="let expensecat of expenseCategories" #slidingItem track="expense" [ngClass]="{mlindent: expensecat.categoryparent !== ''}">
        <button ion-item (click)="viewItemDetails(slidingItem, expensecat)">
          {{ expensecat.categoryname }}
        </button>
        <ion-item-options>
          <button ion-button color="energized" (click)="editItem(slidingItem, expensecat)" padding-horizontal>
            Edit
          </button>
          <button ion-button color="danger" (click)="deleteItem(slidingItem, expensecat)">
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>