.logout-page {
  .toolbar[mlnavbar] .toolbar-background {
    border-color: transparent;
  }
}

#divLoginHeading {
  text-align: center;
  margin-top: 10px;
}
#divLoginHeading ion-icon {
  color: #285264;
  font-size: 150px;
}