//
// Login screen based on http://codepen.io/lsgrrd/pen/xvwHn
//
.mlLinks {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
#loginHeading {
  text-align: center;
  margin-top: 10px;
}
#loginHeading h1 {
  color: #fff;
  font: 33px 'PT Sans Narrow';
  margin-top: 0;
}
#loginHeading ion-icon {
  color: #285264;
  font-size: 100px;
}
#loginFormId ion-icon {
  color: #fff;
  font-size: 30px;
}
.loginScreen {
  background-color: #172F39;
}
#loginFormId {
  position:relative;
  margin: 25px 30px 0 20px;
  width: 330px;
  height: auto;
}
#loginFormId .text-input {
  background: rgba(255,255,255,.2);
  padding-left: 16px;
  margin: 0;
  color:white;
  display: block;
  width: 265px;
  font-size:17px;
  height: 50px;
  border-radius:7px;
}
#loginFormId input:focus {
  background: rgba(255,255,255,.95);
  color: #e74c3c;
}
#loginFormId button {
  float:right;
  height: 105px;
  width: 60px;
  background: #e74c3c;
  color:white;
  font-size:30px;
  margin-top: 0;
  margin-bottom: 0;
}
#loginFormId input::-webkit-input-placeholder {
  color: white;
}
#loginFormId input:focus::-webkit-input-placeholder {
  color: #e74c3c;
}
.right {
  position: absolute;
  right: 0px;
}
.center {
  margin:auto;
}
#divLinks button {
  padding: 0;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
}