/* Styles for MoneyLeash MyInput fields */
.ml-input {
  height: 60px;
}
my-toggle .item {
  border-bottom: 1px solid #c8c7cc;
}
my-toggle.item {
  padding-left: 0;
}
ion-list > my-toggle.item:last-child {
	border-bottom: 0;
}
.ml-input .item-inner {
  border-bottom: 0;
  margin-left: 7px;
  padding-top: 3px;
}
.ml-input {
  padding: 0;
}
/*.ml-icon-left:before {
  display: block;
  text-align: center;
  padding-top: 10px;
  color: #909090;
  font-size: 30px;
  font-weight: normal;
}*/
